@model PetShop.Models.PageList.PagedListModel<PetShop.Models.Product.ListProductModel>
@{
    ViewBag.Title = "Home Page";
}

<main>
	
    
	<!-- Start category Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-12">
					<div class="row">
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/pet3.jpg" alt="">
								<a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Family Collection - Sporty Sneakers</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/pet4.jpg" alt="">
								<a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Mini Creatures - Couple's Picks</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/pet5.jpg" alt="">
								<a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Compact Pet Accessories - Mini Marvels</h6>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="img/pet6.jpg" alt="">
								<a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
									<div class="deal-details">
										<h6 class="deal-title">Ultimate Pet Care Kit - Family Favorites</h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="img/team-2.jpg" alt="">
						<a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
							<div class="deal-details">
								<h6 class="deal-title">Luxury Pet Beds - Family Comforts</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->
	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->
	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p>
								Check out our newest arrivals! From innovative gadgets to premium pet supplies, we've got something special for every pet parent.
							</p>

						</div>
					</div>
				</div>
				<style>
					.owl-carousel .owl-item img{
						width:70%;
					}
				</style>
				<div class="row">
					
					@foreach (var product in Model.Items)
					{
						<div class="col-lg-4 col-md-6" style="width:20%">
							<div class="single-product">
								<img class="img-fluid" src="@product.ProductImageUrl" id="product_image">
								<div class="product-details" id="name-of-product">
									<h6>
										@product.ProductName
									</h6>
									<div class="price" id="product-price">
										<h6>@product.ProductPrice</h6>
										<h6 class="l-through">@product.Discount</h6>
									</div>
									<div class="prd-bottom">


										@if (User.Identity.IsAuthenticated)
										{
											<a href="@Url.Action("Login", "Login", new { returnUrl = Context.Request.Path + Context.Request.QueryString })" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
											
											<a href="@Url.Action("Login", "Login", new { returnUrl = Context.Request.Path + Context.Request.QueryString })" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>

										}
										else
										{
											<a href="#" class="social-info add-to-cart" data-product-id="@product.Id" data-product-name="@product.ProductName" data-product_image="@product.ProductImageUrl" data-product-price="@product.ProductPrice">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>

											<a href="@Url.Action("DetailItem", "Product", new { productId = product.Id })" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>
										}

									</div>
								</div>
							</div>
						</div>
					}
					<script src="~/js/javascript.js"></script>
					<!-- single product -->
				</div>
			</div>
		</div>
	</section>
	<!-- end product Area -->
	<!-- single product slide -->
	<div class="single-product-slider">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Coming Products</h1>
						<p>
							Exciting new product lines are on the horizon! They promise to bring an amazing experience for you and your furry friend.
						</p>

					</div>
				</div>
			</div>
			<div class="row">

				@foreach (var product in Model.Items)
				{
					<div class="col-lg-4 col-md-6" style="width:20%">
						<div class="single-product">
							<img class="img-fluid" src="@product.ProductImageUrl" id="product_image">
							<div class="product-details" id="name-of-product">
								<h6>
									@product.ProductName
								</h6>
								<div class="price" id="product-price">
									<h6>@product.ProductPrice</h6>
									<h6 class="l-through">@product.Discount</h6>
								</div>
								<div class="prd-bottom">


									@if (User.Identity.IsAuthenticated)
									{
										<a href="@Url.Action("Login", "Login", new { returnUrl = Context.Request.Path + Context.Request.QueryString })" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>

										<a href="@Url.Action("Login", "Login", new { returnUrl = Context.Request.Path + Context.Request.QueryString })" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>

									}
									else
									{
										<a href="#" class="social-info add-to-cart" data-product-id="@product.Id" data-product-name="@product.ProductName" data-product_image="@product.ProductImageUrl" data-product-price="@product.ProductPrice">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>

										<a href="@Url.Action("DetailItem", "Product", new { productId = product.Id })" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									}

								</div>
							</div>
						</div>
					</div>
				}
				<script src="~/js/javascript.js"></script>
				<!-- single product -->
			</div>
		</div>
	</div>
	</section>
	<!-- end product Area -->
	<!-- Start exclusive deal Area -->
	
	
	

</main>