@model List<PetShop.Models.Cart.OrderedCart>
@{
    ViewBag.Title = "Cart";
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <tbody>
                                    @foreach (var cartItem in Model)
                                    {
                                        var product = cartItem;
                                        if (product != null)
                                        {
                                            var total = product.Price * cartItem.Quantity;
                                            <tr>
                                                <td>
                                                    <div class="d-flex">
                                                        <img class="img-fluid" src="@product.Image" alt="" id="image-@product.IdProduct" style="width:50%">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-body" id="name-@product.IdProduct">
                                                            <p>@product.Name</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h5>@product.Price.ToString("C")</h5>
                                                </td>
                                                <td>
                                                    <h5>@product.Quantity</h5>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success">@product.Status</span>
                                                </td>
                                                <td>
                                                    @if (cartItem.Status == "Đang chờ xử lý")
                                                    {
                                                        <button class="btn btn-danger"
                                                                onclick='cancelItem("@product.Id","@product.Name","@product.Image",
                                                                     "@product.Price","@product.Quantity","@product.Status")'>
                                                            Cancel
                                                        </button>

                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            }

                        </table>

                    </div>
                    <!-- Your Billing Details Section -->
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/cancel.js"></script>
