@model PetShop.Models.Product.AllListProduct
@{
	ViewBag.Title = "Product";
	
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<div class="container">
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Blog Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Blog</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
			<div class="sidebar-categories">
				<div class="head">Browse Categories</div>
				<ul class="main-categories">
					@foreach (var category in Model.Categories)
					{
						<li class="main-nav-list">
							<a class="border-bottom-0" href="@Url.Action("FillterCategoryProduct", "Product", new { categoryId = category.CategoryId })">
								<span class="lnr lnr-arrow-right"></span>@category.CategoryName
							</a>

						</li>
					}
				</ul>
			</div>


			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Default sorting</option>
							<!-- ... -->
						</select>
					</div>
					<div>
					@*Dòng này hiển thị số trang hiện tại và tổng số trang.*@
						Page @Model.Pagination.CurrentPage of @Model.Pagination.TotalPages
						@if (Model.Pagination.HasPreviousPage)
						{
							<a href="?pageNumber=@(Model.Pagination.CurrentPage - 1)&pageSize=@Model.Pagination.PageSize">Previous</a>
						}
						@if (Model.Pagination.HasNextPage)
						{
							<a href="?pageNumber=@(Model.Pagination.CurrentPage + 1)&pageSize=@Model.Pagination.PageSize">Next</a>
						}
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">

							@foreach (var product in Model.Products)
							{
							<div class="col-lg-4 col-md-6">
								<div class="single-product">
								<img class="img-fluid" src="@product.ProductImageUrl" id="product_image">
									<div class="product-details" id="name-of-product">
										<h6>
											@product.ProductName
										</h6>
										<div class="price" id="product-price">
											<h6>@product.ProductPrice</h6>
											<h6 class="l-through">@product.Discount</h6>
										</div>
										<div class="prd-bottom">


										@if (User.Identity.IsAuthenticated)
										{
											<a href="@Url.Action("Login", "Login", new { returnUrl = Context.Request.Path + Context.Request.QueryString })" class="social-info">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>
												
											<a href="@Url.Action("Login", "Login", new { returnUrl = Context.Request.Path + Context.Request.QueryString })" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>

										}
										else
										{
											<a href="#" class="social-info add-to-cart" data-product-id="@product.Id" data-product-name="@product.ProductName" data-product_image="@product.ProductImageUrl" data-product-price="@product.ProductPrice">
												<span class="ti-bag"></span>
												<p class="hover-text">add to bag</p>
											</a>

											<a href="" class="social-info">
												<span class="lnr lnr-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
											<a href="" class="social-info">
												<span class="lnr lnr-sync"></span>
												<p class="hover-text">compare</p>
											</a>
											<a href="@Url.Action("DetailItem", "Product", new { productId = product.Id })" class="social-info">
												<span class="lnr lnr-move"></span>
												<p class="hover-text">view more</p>
											</a>
										}
										
										</div>
									</div>
								</div>
							</div>
							}
                    <script src="~/js/javascript.js"></script>
						<!-- single product -->
					</div>
				</section>

				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
				
				<div>
					Page @Model.Pagination.CurrentPage of @Model.Pagination.TotalPages
					@if (Model.Pagination.HasPreviousPage)
					{
						<a href="?pageNumber=@(Model.Pagination.CurrentPage - 1)&pageSize=@Model.Pagination.PageSize">Previous</a>
					}
					@if (Model.Pagination.HasNextPage)
					{
						<a href="?pageNumber=@(Model.Pagination.CurrentPage + 1)&pageSize=@Model.Pagination.PageSize">Next</a>
					}
				</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>



	